<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <masto_helloworld>
            <version>0.1.0</version>
        </masto_helloworld>
    </modules>
    <global>
        <helpers>
            <class>Masto_Helloworld_Helper</class>
        </helpers>
        <blocks>
            <class>Masto_Helloworld_Block</class>
        </blocks>
    </global>
    <adminhtml>

    </adminhtml>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Masto_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
        <layout>
            <update>
                <file>masto_helloworld.xml</file>
            </update>
        </layout>
    </frontend>
    <default>
        <masto_helloworld>
            <configuration>
                <enabled>0</enabled>
                <message>Message not defined.</message>
            </configuration>
        </masto_helloworld>
    </default>
</config>